.container#main-container
  .row
    = render 'patients/list', :patients => @patients
  .row
    %hr
  .row
    = render 'appointments/list', :appointments => @appointments
  .row
    %hr
  .row
    = render 'products/list', :products => @products
