.container#main-container
  %ul.nav.nav-tabs.padding-18
    %li#patients-tab
      %a{:href=> '#patients-container', 'data-toggle' => 'tab'}
        %h4 Patients
    %li#appointments-tab
      %a{:href=> '#appointments-container', 'data-toggle' => 'tab'}
        %h4 Appointments
    %li#products-tab
      %a{:href=> '#products-container', 'data-toggle' => 'tab'}
        %h4 Products
    %li#invoices-tab
      %a{:href=> '#invoices-container', 'data-toggle' => 'tab'}
        %h4 Invoices
  .tab-content
    #patients-container.tab-pane
      .row-fluid
        = render 'patients/list', :patients => @patients
    #appointments-container.tab-pane
      .row-fluid
        = render 'appointments/list', :appointments => @appointments
    #products-container.tab-pane
      .row-fluid
        = render 'products/list', :products => @products
    #invoices-container.tab-pane
      .row-fluid
        = render 'invoices/list', :invoices => @invoices
