%table.table.table-hover.table-responsive
  %tr.info
    %th Item/Service
    %th Price
    %th Quantity

  - invoice_details.each do |invoice_detail|
    %tr
      %td
        -if invoice_detail.procedure_id
          = Procedure.find(invoice_detail.procedure_id).procedure
        -else
          = Product.find(invoice_detail.product_id).name_and_price
      %td= invoice_detail.price
      %td= invoice_detail.quantity
