%table.table.table-hover.table-responsive
  %tr.info
    %th Procedure
    %th Price
    %th Quantity
    %th

  - invoice_details.each do |invoice_detail|
    %tr
      %td= Procedure.find(invoice_detail.procedure_id).procedure
      %td= invoice_detail.quantity
      %td= invoice_detail.price
      %td= link_to 'Edit', edit_invoice_detail_path(invoice_detail)
