-if @patient
  = render 'patients/show', :patient => @patient
  %hr
  .pull-right.actions
    = link_to 'Show Record', @patient, class: 'btn btn-link btn-xs glyphicon glyphicon-tasks'
%h3
  Add Medicine Bill
  %span.actions
    = link_to 'Cancel', root_path, class: 'btn btn-link btn-xs glyphicon glyphicon-remove-circle'
.container
  = render 'medicine_form', :patient_id => @patient.try(:id)
