= render 'patients/show', :patient => @procedure.patient
%hr
.pull-right.actions
  = link_to 'Show Record', @procedure.patient, class: 'btn btn-link btn-xs glyphicon glyphicon-tasks'
%h3
  Add procedure
  %span.actions
    = link_to 'Cancel', root_path, class: 'btn btn-link btn-xs glyphicon glyphicon-remove-circle'

.container
  = render 'form'
