%h3
  Update appointment
.actions
  = link_to 'Show Record', @appointment.procedure.try(:patient), class: 'btn btn-link btn-xs glyphicon glyphicon-tasks'

  = link_to 'Back', root_path, class: 'btn btn-link btn-xs glyphicon glyphicon-arrow-left'
.container
  = render 'form'
